.item-list-container{
font-size: 30px;
color: rgb(247, 69, 193);

}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 5rem 5rem;
  justify-content: center;
}
.card {
 
  box-sizing: border-box;
  border: 2px solid #ccc;         
  border-radius: 8px; 
  padding: 1rem;            
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
  background-color: #fff;         
  transition: transform 0.2s ease;
}
.card img {
    width: 200px;
    height: 250px;
  }
.ver-detalle-btn{
justify-content: center;
  padding: 8px 12px;
  text-decoration: none;
  background-color: beige;
  font-weight: 500;
  transition: background-color 0.2s ease, color 0.2s ease;
  border: 2px solid #d65188;
  border-radius: 4px;
  
}
  .ver-detalle-btn:hover {
  background-color: #d65188;
  color: #fff;
}