.volver-btn{
  padding: 8px 12px;
  text-decoration: none;
  background-color: beige;
  font-weight: 500;
  transition: background-color 0.2s ease, color 0.2s ease;
  border: 2px solid #d65188;
  border-radius: 4px;
  
}
  .volver-btn:hover {
  background-color: #d65188;
  color: #fff;
}