
.cart-widget{
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease;
}
.cart-widget:hover {
  transform: scale(1.2);
}

.num-cart{
  font-size: 50px;
}

