.banner{
    background-image: url('./../../assets/img/banner.obsesivas.jpg') ;
    background-size:cover;
    background-position: center;
    width: 100vw;                  
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;             
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
  padding: 1rem 1rem;
    
}

.banner-container{
    text-align: center;
    padding: 15% 0;
}
